DOMAIN = 
PORT = 
APP_SECRET =
NODE_ENV = development #this can be "production" or "development"

#Database

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

#Google Auth
GOOGLE_CLIENT_ID =
#Email
MAIL_HOST =
MAIL_PORT =
MAIL_USERNAME =
MAIL_PASSWORD =
MAIL_FROM_NAME =
MAIL_SECURE=false

#Payment
PAYSTACK_SECRET =

#Discord
DISCORD_WEBHOOK_URL = 

#BuyPower
BUYPOWER_URL = 
BUYPOWER_KEY = 

# CLIENT
CLIENT_URL = https://miratonroseafrica.xyz

# SMS 
TWILIO_ACCOUNT_SID =
TWILIO_AUTH_TOKEN =
TWILIO_PHONE_NUMBER =


# REDIS
REDIS_HOST =
REDIS_PORT =
REDIS_USERNAME =
REDIS_PASSWORD =

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_MAX_RETRIES=5
KAFKA_INITIAL_RETRY_TIME=1000
KAFKA_MAX_RETRY_TIME=30000
KAFKA_RETRY_FACTOR=2

