<div style="font-size: 16px; line-height: 1.6; color: #333;">
  <p>
    Hello
    {{customerName}},
  </p>
  <p>
    We’ve successfully processed your bill payment.
  </p>

  <div>
    Details of the transaction:
    <ul style="list-style: none;">
      <li>
        - Service:
        {{billType}}
      </li>
      <li>
        - Reference Number:
        {{referenceNumber}}
      </li>
      <li>
        - Amount:
        {{amount}}
      </li>
    </ul>
  </div>

  <p>
    Your payment has been recorded and the service provider has been notified.
  </p>
  <p>
    Thank you for using Miraton Rose.
  </p>

</div>