<p>Hi {{firstName}},</p>

<p>
  We’ve been working behind the scenes to bring you something exciting! Starting
  next month, we’re rolling out new features designed to make life easier. These
  updates are based on your feedback, and we can’t wait for you to try them out.
</p>

<ul>
  {{#each updates}}
    <li>{{this}}</li>
  {{/each}}

</ul>

<p>Thank you for being part of the journey.</p>