<section style="width: 100%;">
  <div>
    <p>
      Hi there,
      <br />
      <br />
      You've been invited to join
      <b>Miraton Rose</b>
      platform.
    </p>
    <p>
      To get started, please complete your onboarding by clicking the "<b
      >Complete Your Registration</b>" button below:
    </p>
  </div>
  <div style="margin: 0 auto;"><a
      href="{{url}}"
      target="_blank"
      style="border: 1px solid #1f502d;padding: 0.5rem;border-radius: 0.5rem;background-color: #1f502d;color: white;text-decoration:none;"
    >
      Complete Your Registration
    </a>
  </div>

  <div>

    <p>
      <b>Important:</b>
      This invitation link is valid for
      <b>{{expiresIn}}</b>.
    </p>
    <p>
      <b>Instructions:</b>
      Once you click the link, you'll be guided through a short onboarding
      process where you can: - Set your password and Confirm your profile
      details
    </p>

    <p>
      If you weren't expecting this email, you can safely ignore it.
    </p>
    <p>
      Looking forward to having you on board!
      <br />
      Best regards,
    </p>
    <span>
      <b>The Miraton Rose Africa Team</b>
    </span>
  </div>

</section>