<div>
  <p>Hi {{name}},</p>
  <p>We received a request to reset your password. Use the OTP below to complete
    your password reset:</p>
  <div
    style="font-size: 24px; font-weight: bold; padding: 10px 20px;color: black; text-align: center; letter-spacing: 4px; border-radius: 6px; width: fit-content; margin: 10px auto;"
  >
    {{otp}}
  </div>
  <p>This code will expire in {{expiresIn}} minutes.</p>
  <p>If you didn’t request this, you can safely ignore this email.</p>
  <br />
  <p>— The Miraton Rose Team</p>
</div>