<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="width:100%;font-family:'Manrope',-apple-system,BlinkMacSystemFont,sans-serif;font-size:medium;line-height:1.6;color:#333;height:100%;"
  >
    <header style="width:100%;height:6rem;border-bottom:1px solid #e7e7e7;">
      <div style="width: 240px; height: 70px; margin: 0 auto;">
        <img
          src="cid:logo"
          alt="Logo"
          style="width:auto;height:auto;object-fit:cover;"
        />
      </div>
    </header>
    <div style="max-width:600px;margin:auto;padding:20px;">
      {{{body}}}
    </div>
    <footer
      style="width:100%;margin-top:4rem;padding-top:0.5rem;text-align:center;border-top:1px solid #e7e7e7;"
    >
      <p style="margin:0;">For any feedback or inquiries, get in touch with us:</p>
      <p style="margin:0;">
        <a
          id="email-to"
          href="mailto:info@miratonroseafrica.com"
          style="text-decoration:none;color:#1f502d;"
        >info@miratonroseafrica.com</a><br />
        <a
          href="tel:+2347040011298"
          style="text-decoration:none;color:#1f502d;"
        >+234 704 001 1298</a>
      </p>
      <p style="margin:0;font-size:small">Copyright © Miraton Rose Africa.
        {{year}}
        All rights reserved.</p>
      <p
        class="bottom-banner"
        style="background-color:#1f502d;height:40px;width:100%;margin-top:0.5rem;"
      ></p>
    </footer>
  </body>
</html>